<!DOCTYPE html>
<html lang="de-DE">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<title>fidor pusher</title>
	<link rel="stylesheet" href="css/bulma.min.css">
	<link rel="stylesheet" href="font/source-serif-pro.css">
	<link rel="stylesheet" href="font/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<div class="container">

		<nav class="navbar">
			<p class="navbar-item is-text-centered">
				<a class="link is-info" href="/account">Account</a>
		  	</p>
		  	<h1 class="navbar-item is-text-centered title" style="line-height:70px; margin-top:14px;">
				<a href="/">fidor pusher</a>
		  	</h1>
		  	<p class="navbar-item is-text-centered">
			  	presented by<br/>
				<a class="link is-danger" href="https://source.horse" target="_blank">source.horse</a>
		  	</p>
		</nav>

	</div>

	<section class="section">
		<div class="container">

			<div class="content">
				<p class="image is-2by1">
					<img src="img/1000x500.png" />
				</p>
			</div>

			<div class="heading">
				<h1 class="title">Section</h1>
		  		<h2 class="subtitle">
					A simple container to divide your page into <strong>sections</strong>,
					like the one you're currently reading
		  		</h2>
			</div>

			<div class="content">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida,
					nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio,
					sollicitudin vel erat vel, interdum mattis neque.
				</p>
				<p>
					Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi,
					sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti.
					Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.
				</p>
				<p class="is-text-centered">
					<a class="button is-success is-large is-outlined" href="/redirect">Jetzt mit fidor einloggen</a>
				</p>
			</div>

	  	</div>
	</section>

	<footer class="footer">
		<div class="container">
			<div class="content is-text-centered">
		  		<p>
					<strong>fidor-pusher</strong> by <a href="https://www.schedler.co">Alex Schedler</a>.
					The source code is licensed under <a rel="license" href="https://opensource.org/licenses/BSD-2-Clause">BSD-2</a><br/>
					and available on github kulturpessimist/fidor-pusher.<br/>
		  		</p>
			</div>
		</div>
	</footer>

</body>
</html>