<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<title></title>
	<link rel="stylesheet" href="css/bulma.min.css">
	<script type="text/javascript" src="js/main.js"></script>
</head>

<body>
	hello world
</body>
</html>